Repository SlimeVR/SlimeVR-Rust, pull requests merged in 2022-12, with the labels that each got.

#88 firmware: Switched from nrf52840-hal to embassy-nrf
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/build.rs
  firmware/linker_scripts/memory.x.nrf52840
  firmware/rust-toolchain.toml
  firmware/src/aliases.rs
  firmware/src/main.rs
  firmware/src/peripherals/esp32c3.rs
  firmware/src/peripherals/nrf52840.rs
Labels: Area: Firmware

#91 firmware: nrf bringup
  nrf_demo/Cargo.lock
  nrf_demo/Cargo.toml
  nrf_demo/memory.x
  nrf_demo/src/main.rs
Labels: Area: Firmware

#94 firmware: Added bbq task, features, and UARTE in peripherals
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/src/aliases.rs
  firmware/src/main.rs
  firmware/src/peripherals/esp32c3.rs
  firmware/src/peripherals/mod.rs
  firmware/src/peripherals/nrf52840.rs
Labels: Area: Firmware

#96 firmware: Got things working again on nrf
  firmware/.cargo/config.toml
  firmware/.gitignore
  firmware/Cargo.lock
  firmware/linker_scripts/memory.x.nrf52840
  firmware/src/main.rs
Labels: Area: Firmware

#97 firmware: Added IMU stub and fixed defmt_esp_println
  firmware/Cargo.toml
  firmware/build.rs
  firmware/crates/defmt_esp_println/src/esp32_all.rs
  firmware/crates/defmt_esp_println/src/lib.rs
  firmware/src/imu/mod.rs
  firmware/src/imu/stubbed.rs
  firmware/src/utils.rs
Labels: Area: Firmware

#100 firmware: Fixed nrf timer
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/Embed.toml
  firmware/src/main.rs
Labels: Area: Firmware

#102 firmware: Added necessary dependencies for nrf52840 usb
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/src/main.rs
Labels: Area: Firmware

#98 firmware: add esp32 support
  firmware/.cargo/config.toml
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/build.rs
  firmware/rust-toolchain.toml
  firmware/src/aliases.rs
  firmware/src/globals.rs
  firmware/src/imu/mpu6050.rs
  firmware/src/main.rs
  firmware/src/networking/wifi/esp.rs
  firmware/src/peripherals/esp32.rs
  firmware/src/peripherals/mod.rs
Labels: Area: Firmware

#103 firmware: Now initializing embassy in esp32
  firmware/.cargo/config.toml
  firmware/Cargo.toml
  firmware/src/peripherals/esp32.rs
Labels: Area: Firmware

#106 Copied firmware protocol from Wrangler codebase
  Cargo.lock
  Cargo.toml
  networking/firmware_protocol/Cargo.toml
  networking/firmware_protocol/README.md
  networking/firmware_protocol/src/lib.rs
  networking/firmware_protocol/src/test_deku.rs
Labels: Area: Application Protocol

#113 Clean up message passing logic and UDP protocol barebones
  .github/workflows/firmware-ci.yml
  Cargo.lock
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/src/imu/mod.rs
  firmware/src/main.rs
  firmware/src/networking/messaging.rs
  firmware/src/networking/mod.rs
  firmware/src/networking/packets.rs
  firmware/src/networking/wifi/esp.rs
  firmware/src/networking/wifi/mod.rs
  firmware/src/serialization.rs
  firmware/src/utils.rs
  networking/firmware_protocol/Cargo.toml
  networking/firmware_protocol/src/lib.rs
  networking/firmware_protocol/src/test_deku.rs
Labels: Area: Firmware

#115 firmware: Now sending imu type based on feature
  firmware/src/imu/mod.rs
  firmware/src/main.rs
Labels: Area: Firmware

#117 Typed fields for protocol
  firmware/src/imu/mod.rs
  firmware/src/imu/mpu6050.rs
  firmware/src/imu/stubbed.rs
  firmware/src/main.rs
  networking/firmware_protocol/src/clientbound.rs
  networking/firmware_protocol/src/lib.rs
  networking/firmware_protocol/src/serverbound.rs
  networking/firmware_protocol/src/test_deku.rs
Labels: Area: Hardware Protocol

#116 Bmi160 support
  .github/workflows/firmware-ci.yml
  Cargo.lock
  firmware/.vscode/extensions.json
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/build.rs
  firmware/src/imu/bmi160/math.rs
  firmware/src/imu/bmi160/mod.rs
  firmware/src/imu/mod.rs
  firmware/src/main.rs
  networking/firmware_protocol/src/clientbound.rs
  networking/firmware_protocol/src/lib.rs
  networking/firmware_protocol/src/serverbound.rs
Labels: Area: Firmware
