Repository SlimeVR/SlimeVR-Rust, pull requests merged in 2023-02, with the labels that each got.

#166 Clarification on goals and PRs for firmware
  firmware/README.md
  firmware/docs/CONTRIBUTING.md
  firmware/docs/Goals.md
  firmware/docs/Pull Request Tips.md
  firmware/docs/README.md
Labels: Area: Firmware

#176 Partial fix for dcm
  firmware/src/imu/drivers/bmi160/math.rs
  firmware/src/imu/fusion/dcm.rs
Labels: Type: Bug, Area: Firmware

#178 Add imus to list in readme
  firmware/README.md
Labels: Type: Documentation, Area: Firmware

#179 Reorganize
  firmware/src/imu/drivers/bmi160/mod.rs
  firmware/src/imu/fusion/dcm.rs
  firmware/src/imu/fusion/mod.rs
  firmware/src/imu/fusion/stubbed.rs
  firmware/src/imu/mod.rs
Labels: Area: Firmware, Type: Refactor

#181 Fixed missing .env cache
  firmware/build.rs
Labels: Type: Bug, Area: Firmware

#182 Fixed stubbed logs happening too fast
  firmware/src/networking/mod.rs
Labels: Type: Bug, Area: Firmware

#184 Refactor for napi and add some calibration stuff
  Cargo.lock
  Cargo.toml
  skeletal_model/napi/Cargo.toml
  skeletal_model/napi/src/lib.rs
  skeletal_model/rust/Cargo.toml
  skeletal_model/rust/README.md
  skeletal_model/rust/src/bone/bone_kind.rs
  skeletal_model/rust/src/bone/bone_map.rs
  skeletal_model/rust/src/bone/mod.rs
  skeletal_model/rust/src/conventions.rs
  skeletal_model/rust/src/lib.rs
  skeletal_model/rust/src/newtypes.rs
  skeletal_model/rust/src/skeleton/calibrate.rs
  skeletal_model/rust/src/skeleton/edge.rs
  skeletal_model/rust/src/skeleton/mod.rs
  skeletal_model/rust/src/skeleton/node.rs
  skeletal_model/rust/src/skeleton/solver.rs
  skeletal_model/src/prelude.rs
  vqf/src/lib.rs
Labels: Area: Skeletal Model, Type: Refactor

#190 Output logs to stdout by default
  overlay/src/main.rs
Labels: Area: Overlay, Type: Enhancement

#188 feat: suppress terminal
  Cargo.lock
  overlay/Cargo.toml
  overlay/src/main.rs
Labels: Area: Overlay, Type: Enhancement
