Repository SlimeVR/SlimeVR-Rust, pull requests merged in 2023-01, with the labels that each got.

#121 firmware: added nrf52832 support
  .github/workflows/firmware-ci.yml
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/build.rs
  firmware/linker_scripts/memory.x.mcu-nrf52832
  firmware/linker_scripts/memory.x.mcu-nrf52840
  firmware/src/aliases.rs
  firmware/src/globals.rs
  firmware/src/main.rs
  firmware/src/peripherals/mod.rs
  firmware/src/peripherals/nrf52.rs
Labels: Area: Firmware

#118 Document softdevice and improve docs overall
  firmware/CONTRIBUTING.md
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/README.md
  firmware/build.rs
  firmware/docs/CONTRIBUTING.md
  firmware/docs/Debugging.md
  firmware/docs/README.md
  firmware/docs/Softdevice.md
  firmware/linker_scripts/memory.x.mcu-nrf52832
  firmware/linker_scripts/memory.x.mcu-nrf52840
Labels: Area: Firmware

#127 Fixed wrong linkage and ApProtect
  firmware/.cargo/config.toml
  firmware/Cargo.toml
  firmware/Embed.toml
  firmware/build.rs
  firmware/src/globals.rs
Labels: Area: Firmware

#129 firmware: Added mbr feature
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/build.rs
Labels: Area: Firmware

#133 made packet types non exhaustive
  firmware/src/main.rs
  networking/firmware_protocol/src/clientbound.rs
  networking/firmware_protocol/src/serverbound.rs
Labels: Area: Firmware

#137 firmware: Softdevice critical section
  .github/workflows/firmware-ci.yml
  firmware/.cargo/config.toml
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/boards/README.md
  firmware/boards/esp32_tmp.toml
  firmware/boards/ferrous_slime.toml
  firmware/boards/nrf52832_tmp.toml
  firmware/boards/xiao_esp32c3.toml
  firmware/boards/xiao_sense.toml
  firmware/build.rs
  firmware/src/globals.rs
  firmware/src/peripherals/esp32.rs
  firmware/src/peripherals/esp32c3.rs
  firmware/src/peripherals/nrf52.rs
Labels: Area: Firmware

#138 firmware: Work in progress protocol struct
  firmware/src/networking/mod.rs
  firmware/src/networking/protocol/mod.rs
  firmware/src/networking/protocol/serialize.rs
Labels: Area: Firmware

#141 firmware: Tried to add handles but it kinda flopped
  firmware/Cargo.toml
  firmware/src/networking/protocol/v2/imu_handle.rs
  firmware/src/networking/protocol/v2/mod.rs
  firmware/src/networking/protocol/v2/network_handle.rs
  firmware/src/networking/protocol/v2/serialize.rs
Labels: Area: Firmware, Area: Hardware Protocol

#147 Added dotenv
  .github/workflows/firmware-ci.yml
  firmware/.cargo/config.toml
  firmware/.env.template
  firmware/.gitignore
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/src/main.rs
Labels: Area: Firmware

#146 Send imu data at full rate
  firmware/src/networking/protocol/mod.rs
  firmware/src/networking/wifi/esp.rs
Labels: Area: Firmware, Area: Hardware Protocol

#153 Fix .env not loading in build.rs, use dev.toml
  .github/workflows/firmware-ci.yml
  firmware/.env.template
  firmware/.gitignore
  firmware/.vscode/launch.json
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/build.rs
  firmware/rustfmt.toml
  firmware/src/aliases.rs
  firmware/src/imu/mod.rs
  firmware/src/imu/mpu6050.rs
  firmware/src/main.rs
  firmware/src/peripherals/esp32c3.rs
Labels: Type: Bug, Area: Firmware

#160 Refactor to use FusedImu trait and driver module
  firmware/src/imu/drivers/bmi160/math.rs
  firmware/src/imu/drivers/bmi160/mod.rs
  firmware/src/imu/drivers/mod.rs
  firmware/src/imu/drivers/mpu6050.rs
  firmware/src/imu/drivers/stubbed.rs
  firmware/src/imu/fusion/mod.rs
  firmware/src/imu/mod.rs
Labels: Area: Firmware, Type: Refactor

#148 Start da blinky
  Cargo.toml
  da_demo/.cargo/config.toml
  da_demo/.gitignore
  da_demo/Cargo.lock
  da_demo/Cargo.toml
  da_demo/Embed.toml
  da_demo/build.rs
  da_demo/memory.x
  da_demo/rust-toolchain.toml
  da_demo/src/main.rs
Labels: Area: Firmware, Type: Enhancement

#161 Refactor to no longer feature gate imu driver modules
  firmware/Cargo.toml
  firmware/src/imu/drivers/bmi160/mod.rs
  firmware/src/imu/drivers/mod.rs
  firmware/src/imu/drivers/mpu6050.rs
  firmware/src/imu/mod.rs
Labels: Area: Firmware, Type: Refactor

#149 Preliminary zero-IQ port of VQF to Rust
  Cargo.lock
  Cargo.toml
  README.md
  firmware/Cargo.lock
  vqf/Cargo.toml
  vqf/README.md
  vqf/src/lib.rs
Labels: Area: Firmware, Type: Enhancement

#169 No longer necessary to patch mpu6050 crate
  firmware/Cargo.lock
  firmware/Cargo.toml
Labels: Area: Firmware

#171 No longer test all imus in CI
  .github/workflows/firmware-ci.yml
Labels: Area: Firmware, Type: Refactor

#174 Added stubbed fuser, fuser flags, new_fuser(), and bmi uses fuser
  .github/workflows/firmware-ci.yml
  firmware/Cargo.toml
  firmware/build.rs
  firmware/src/imu/drivers/bmi160/mod.rs
  firmware/src/imu/fusion/dcm.rs
  firmware/src/imu/fusion/mod.rs
  firmware/src/imu/fusion/stubbed.rs
Labels: Area: Firmware, Type: Enhancement
